on:
  push:
    tags:
      - 'v*-voyager'

name: Create Voyager Release

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set Version
        run: echo {{ github.ref }} > src/main/resources/dude-version
      - name: Build
        run: mvn clean package
      - name: Prepare Assets
        run: |
          mkdir dude
          mkdir dude/results
          mkdir dude/logs
          cp README.md dude/README.md
          cp target/dude.jar dude/dude.jar
          cp instrument.yml dude/instrument.yml
          cp languages.yml dude/languages.yml
          cp .ignore dude/.ignore
      - name: Create Archive
        run: zip -r dude-voyager.zip dude

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          name: Dude ${{ steps.semver_parser.outputs.semver }} (Voyager)
          body_path: ${{ github.workspace }}/releaseNotes/v${{ steps.semver_parser.outputs.semver }}.md
          body: ""
          prerelease: false
          draft: false
          fail_on_unmatched_files: true
          generate_release_notes: true
          files: dude-voyager.zip

      - name: Trigger Repository Dispatch Voyager Full Instrument Build
        uses: peter-evans/repository-dispatch@v1
        with:
          repository: dxworks/voyager
          token: ${{ secrets.GH_TOKEN }}
          event-type: instrument-release
